* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url(./assets/image.png);
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(19, 175, 19);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-image: url(./assets/button_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 20px 0 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#result {

  font-size: 40px;
  color: rgb(0, 255, 0);
  font-weight: bold;
  margin-top: 20px;
}

#increase_button {
  border: none;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  margin-right: 20px;
}

#decrease_button {
  border: none;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  margin-left: 20px;
}

#decrease_button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px 5px rgb(244, 85, 85);
}

#increase_button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px 5px rgb(0, 255, 0);
}
