* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url(./assets/image.png);
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(19, 175, 19);
  margin-top: -100px;
  margin-right: -10px;
}

button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-image: url(./assets/button_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 20px 0 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;
}

#result {
  font-size: 40px;
  color: rgb(0, 255, 0);
  font-weight: bold;
  margin-top: 20px;
}

#increase_button {
  border: none;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  margin-right: 20px;
}

#decrease_button {
  border: none;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  margin-left: 20px;
}

#decrease_button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px 5px rgb(244, 85, 85);
}

#increase_button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px 5px rgb(0, 255, 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.reset-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#reset_button {
  width: 240px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: none;
  box-shadow: 0px 0px 15px 3px rgb(0, 0, 0);
  cursor: pointer;
}

#reset_button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px 5px rgb(0, 140, 255);
}
